services:
  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - "7777:7777"
    environment:
      SWAGGER_JSON: /openapi.yaml
    volumes:
      - ./api/resolved/openapi/openapi.yaml:/openapi.yaml:ro

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: