openapi: 3.0.3
info:
  title: DateCourses API
  version: 0.1.1
servers:
  - description: Development server
    url: http://localhost:7777
  - description: Production server
    url: https://api.datecourses.com
tags:
  - name: top
    description: Information about the top-level API features
  - name: session
    description: Details about user sessions and authentication
  - name: user
    description: Information related to user profiles and data
  - name: date_spot
    description: Details about various date spots available
  - name: date_spot_review
    description: User reviews and ratings for date spots
  - name: course
    description: Information about different date courses offered
  - name: prefecture
    description: Details about prefectures and their locations
  - name: genre
    description: Information about different genres of date spots
paths:
  /:
    $ref: "./paths/root.yaml"
  /api/v1/top:
    $ref: "./paths/top.yaml"
  /api/v1/signup:
    $ref: "./paths/signup.yaml"
  /api/v1/login:
    $ref: "./paths/login.yaml"
  /api/v1/users:
    $ref: "./paths/users.yaml"
  /api/v1/users/{id}:
    $ref: "./paths/users_id.yaml"
  /api/v1/user_name_search:
    $ref: "./paths/user_name_search.yaml"
  /api/v1/users/{user_id}/followings:
    $ref: "./paths/users_user_id_followings.yaml"
  /api/v1/users/{user_id}/followers:
    $ref: "./paths/users_user_id_followers.yaml"
  /api/v1/relationships:
    $ref: "./paths/relationships.yaml"
  /api/v1/relationships/{current_user_id}/{other_user_id}:
    $ref: "./paths/relationships_current_user_id_other_user_id.yaml"
  /api/v1/date_spot_name_search:
    $ref: "./paths/date_spot_name_search.yaml"
  /api/v1/date_spots/sort:
    $ref: "./paths/date_spots_sort.yaml"
  /api/v1/courses/sort:
    $ref: "./paths/courses_sort.yaml"
  /api/v1/date_spots:
    $ref: "./paths/date_spots.yaml"
  /api/v1/date_spots/{id}:
    $ref: "./paths/date_spots_id.yaml"
  /api/v1/date_spot_reviews:
    $ref: "./paths/date_spot_reviews.yaml"
  /api/v1/date_spot_reviews/{id}:
    $ref: "./paths/date_spot_reviews_id.yaml"
  /api/v1/prefectures/{id}:
    $ref: "./paths/prefectures_id.yaml"
  /api/v1/genres/{id}:
    $ref: "./paths/genres_id.yaml"
  /api/v1/courses:
    $ref: "./paths/courses.yaml"
  /api/v1/courses/{id}:
    $ref: "./paths/courses_id.yaml"

